<template name="home">
  <div class="ui stackable four column grid">
    <div class="sixteen wide center aligned column">
    	<h1 class="titleWhite">Lifesize Email Gen v. 2</h1>
    </div>
		<div class="five wide column"></div>
		<div class="six wide column">
			<div class="ui message">
				<div class="header">How to Use:</div>
				<ul class="list">
					<li>Select the email you want to translate</li>
					<li>Follow the guide to fill in the appropriate strings</li>
					<li>Click Save</li>
				</ul>
			</div>
		</div>
		<div class="five wide column"></div>

    <div class="center aligned column">
    	<div class="ui inverted  button">Verify Email (User)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Verify Email (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Account Confimation (User)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Confirm Email (User)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Confirm Email (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Paid (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Set Password (User)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Upgrade (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Renewal (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Reset Password (User)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Reset Password (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Pair (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Suspended (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Change Email (User)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Delete Account (User)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Delete Account (Manager)</div>
    </div>
    <div class="center aligned column">
    	<div class="ui inverted  button">Change Request (User)</div>
    </div>


  </div>

</template>
