<template name="home">
<div class="ui  eight column grid">
	<div class="three wide centered column"><h1>Lifesize Email Gen v2</h1></div>
	<div class="eight wide centered column">
		<div class="ui grid">
			<div class="row">
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
				<div class="four wide column">Stuff</div>
			</div>
		</div>
	</div>
</div>
</template>