<template name="sidebar">
  <div class="ui vertical inverted sidebar menu left uncover ">
    <a class="item" href="/">
      <i class="home icon"></i> Home
    </a>
    <div class="item">
      <div class="ui small  inverted header">View Emails</div>
      <div class="menu">

        <a class="item" href="/preview/account_confirmation_user">
            Account Confirmation (user)

          </a>

        <a class="item" href="/preview/change_request_user">
              Change Request (user)

            </a>
        <a class="item" href="/preview/confirm_email_manager">
                Confirm Email (manager)

              </a>

        <a class="item" href="/preview/confirm_email_userer">
                  Confirm Email (user)

                </a>
        <a class="item" href="/preview/delete_account_manager">
                    Delete Account (manager)

                  </a>
        <a class="item" href="/preview/delete_account_user">
                      Delete Account (user)

                    </a>

        <a class="item" href="/preview/email_change_user">
                        Email Change (user)

                      </a>
        <a class="item" href="/preview/paid_manager">
                          Paid (manager)

                        </a>

        <a class="item" href="/preview/pairing_manager">
                            Pairing (manager)

                          </a>

        <a class="item" href="/preview/renewal_manager">
                              Renewal (manager)

                            </a>

        <a class="item" href="/preview/reset_pass_manager">
                                Reset pass (manager)

                              </a>

        <a class="item" href="/preview/reset_pass_user">
                                  Reset pass (user)

                                </a>
        <a class="item" href="/preview/set_pass_user">
                                    Set pass (user)

                                  </a>

        <a class="item" href="/preview/upgrade">
                                    Upgrade

                                    </a>

        <a class="item" href="/preview/verify_email_manager">
                                      Verify Email (manager)

                                      </a>

        <a class="item" href="/preview/verify_email_user">
                                        Verify Email (user)

                                        </a>



      </div>
    </div>


    <div class="item">
      <div class="ui small  inverted header">Create Emails</div>
      <div class="menu">

        <a class="item" href="/emails/account_confirmation_user">
            Account Confirmation (user)

          </a>

        <a class="item" href="/emails/change_request_user">
              Change Request (user)

            </a>
        <a class="item" href="/emails/confirm_email_manager">
                Confirm Email (manager)

              </a>

        <a class="item" href="/emails/confirm_email_userer">
                  Confirm Email (user)

                </a>
        <a class="item" href="/emails/delete_account_manager">
                    Delete Account (manager)

                  </a>
        <a class="item" href="/emails/delete_account_user">
                      Delete Account (user)

                    </a>

        <a class="item" href="/emails/email_change_user">
                        Email Change (user)

                      </a>
        <a class="item" href="/emails/paid_manager">
                          Paid (manager)

                        </a>

        <a class="item" href="/emails/pairing_manager">
                            Pairing (manager)

                          </a>

        <a class="item" href="/emails/renewal_manager">
                              Renewal (manager)

                            </a>

        <a class="item" href="/emails/reset_pass_manager">
                                Reset pass (manager)

                              </a>

        <a class="item" href="/emails/reset_pass_user">
                                  Reset pass (user)

                                </a>
        <a class="item" href="/emails/set_pass_user">
                                    Set pass (user)

                                  </a>

        <a class="item" href="/emails/upgrade">
                                    Upgrade

                                    </a>

        <a class="item" href="/emails/verify_email_manager">
                                      Verify Email (manager)

                                      </a>

        <a class="item" href="/emails/verify_email_user">
                                        Verify Email (user)

                                        </a>



      </div>
    </div>

  </div>
</template>
